<h1>Listing page_sources</h1>

<ul data-role="listview">
<% @page_sources.each do |page_source| %>
    <li><%= link_to page_source.description, page_source %></li>   
  </tr>
<% end %>

</ul>
<%= link_to 'New Page source', new_page_source_path %>
